{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="list-container">
        <div class="left-col">
            <h1>{{city.name}}</h1>
            <div class="places">
                <div class="places-img">
                    <img src="{% static 'images/3.jpg' %}">
                </div>
                {% for place in places %}
                    <div class="places-info">
                        <p><a href="{% url 'place' place.id %}">{{place.name}}</a></p>
                        <h3>{{place.tag}}</h3>
                        <p>{{place.comment}}</p>
                        <div class="place-price">
                            <p>{{place.rating}}</p>
                            <h4>{{place.price}}</h4>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="right-col">
            <div class="sidebar">
                <h2>Select Filters</h2>
                <h3>Type</h3>
                <div class="filter">
                    <input type="checkbox"> <p>Attraction</p> <span>(0)</span>
                </div>
                <div class="filter">
                    <input type="checkbox"> <p>Eatery</p> <span>(0)</span>
                </div>
                <div class="filter">
                    <input type="checkbox"> <p>Lodgment</p> <span>(0)</span>
                </div>
                <h3>Rating</h3>
                <div class="filter">
                    <input type="checkbox"> <p>five stars</p> <span>(0)</span>
                </div>
                <div class="filter">
                    <input type="checkbox"> <p>four stars</p> <span>(0)</span>
                </div>
                <div class="filter">
                    <input type="checkbox"> <p>three stars</p> <span>(0)</span>
                </div>
                <div class="filter">
                    <input type="checkbox"> <p>two stars</p> <span>(0)</span>
                </div>
                <div class="filter">
                    <input type="checkbox"> <p>one star</p> <span>(0)</span>
                </div>
                
            </div>
        </div>
    </div>


</div>
<div class="pagination">
    <img src="{% static 'images/arrow.png' %}">
    <span class="current">1</span>
    <span>2</span>
    <span>3</span>
    <span>&middot; &middot; &middot; &middot;</span>
    <span>10</span>
    <img src="{% static 'images/arrow.png' %}" class="right-arrow">

</div>

{% endblock %}