{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="home-container">
    <div>
        <h3>Browse by Continent</h3>
        <hr>
        <div>
            <a href="{% url 'home' %}">All<span>{{continente.count}}</span></a>
        </div>

        {% for continente in continentes %}
            <li>
                <a href="{% url 'home' %}?q={{continente.name}}">{{continente.name}}<span>{{continente.city_set.all.count}}</span></a>
            </li>

        {% endfor %}
    </div>
    <div  class="container">
        <h2 class="sub-title">City Name</h2>
        <div  class="byCity">
            {% for city in cities %}
                <div>
                    <a href="{% url 'update-city' city.id %}">Edit</a>
                    <a href="{% url 'delete-city' city.id %}">Delete</a>
                    <img src="{% static 'images/4.jpg' %}">
                    <span>
                        <h3><a href="{% url 'city' city.id %}">{{city.name}}</a></h3>
                        <p>{{city.continente.name}}</p>
                    </span>
                </div>
            {% endfor %}
        </div>
    </div>
    
</div>

{% endblock %}
